

        <div id="page-heading">
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Dashboard</li>
            </ol>

            <h1>Dashboard</h1>
            <div class="options">
                <div class="btn-toolbar">
                    <div class="btn-group" dropdown>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
                </div>
            </div>
        </div>

        <div class="container-fluid">

           main Content

        </div>



